{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organigrama USAR</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>

<body>
    <div class="navbar">
        <a href="{%url 'voluntarios'%}">Voluntarios</a>
    </div>
    <div class="seleccion-voluntarios">
        <div class="control-buttons">
            <div class="zoom-controls">
                <button id="print" style="width: 100px; padding: 10px; margin: 5px; height: 40px;">Imprimir</button>
                <button id="zoom-in" style="width: 100px; padding: 10px; margin: 5px; height: 40px;">+ Zoom</button>
                <button id="zoom-out" style="width: 100px; padding: 10px; margin: 5px; height: 40px;">- Zoom</button>
            </div>
        </div>
        <h3>Seleccionar Voluntario</h3>
        <select id="selector-voluntarios">
            <option value="">Seleccione un voluntario</option>
            {% for voluntario in voluntarios %}
            <option value="{{ voluntario.pk }}">{{ voluntario.nombre }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="organigrama-container">
        <div class="organigrama">
            <ul>
                <li>
                    <div>LIDER</div>
                    <ul>
                        <li>
                            <div>SEGURIDAD</div>
                            <ul>
                                <li>
                                    <div>AUXILIAR SEGURIDAD</div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div>PLANEACION</div>
                        </li>
                        <li>
                            <div>LOGISTICA</div>
                            <ul>
                                <li>
                                    <div>ASISTENTE LOGISTICA</div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div>OPERACIONES</div>
                            <ul>
                                <li class="grupo-intervencion">
                                    <div>GRUPO DE INTERVENCION 1</div>
                                    <ul>
                                        <li>
                                            <div>LIDER GRUPO 1</div>
                                        </li>
                                        <li>
                                            <div>RESCATISTA 1</div>
                                        </li>
                                        <li>
                                            <div>RESCATISTA 2</div>
                                        </li>
                                        <li>
                                            <div>RESCATISTA 3</div>
                                        </li>
                                        <li>
                                            <div>RESCATISTA 4</div>
                                        </li>
                                        <li>
                                            <div>RESCATISTA 5</div>
                                        </li>
                                        <li>
                                            <div>RESCATISTA 6</div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="grupo-intervencion">
                                    <div>GRUPO DE INTERVENCION 2</div>
                                    <ul>
                                        <li>
                                            <div>LIDER GRUPO 2</div>
                                        </li>
                                        <li>
                                            <div>RESCATISTA 1</div>
                                        </li>
                                        <li>
                                            <div>RESCATISTA 2</div>
                                        </li>
                                        <li>
                                            <div>RESCATISTA 3</div>
                                        </li>
                                        <li>
                                            <div>RESCATISTA 4</div>
                                        </li>
                                        <li>
                                            <div>RESCATISTA 5</div>
                                        </li>
                                        <li>
                                            <div>RESCATISTA 6</div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="grupo-intervencion">
                                    <div>GRUPO DE INTERVENCION 3</div>
                                    <ul>
                                        <li>
                                            <div>LIDER GRUPO 3</div>
                                        </li>
                                        <li>
                                            <div>RESCATISTA 1</div>
                                        </li>
                                        <li>
                                            <div>RESCATISTA 2</div>
                                        </li>
                                        <li>
                                            <div>RESCATISTA 3</div>
                                        </li>
                                        <li>
                                            <div>RESCATISTA 4</div>
                                        </li>
                                        <li>
                                            <div>RESCATISTA 5</div>
                                        </li>
                                        <li>
                                            <div>RESCATISTA 6</div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div>UNIDAD MEDICA</div>
                            <ul>
                                <li>
                                    <div>AUXILIAR ENFERMERIA</div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div>COMUNICACION</div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="vehiculos-container">
        <div class="vehiculos">
            <table class="vehiculo">
                <thead>
                    <tr>
                        <th colspan="2">VEHICULO 1 PLACA KSU483</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>RESCATISTA 1</td>
                    </tr>
                    <tr>
                        <td>RESCATISTA 2</td>
                    </tr>
                    <tr>
                        <td>RESCATISTA 3</td>
                    </tr>
                    <tr>
                        <td>RESCATISTA 4</td>
                    </tr>
                    <tr>
                        <td>CHOFER</td>
                    </tr>
                </tbody>
            </table>

            <table class="vehiculo">
                <thead>
                    <tr>
                        <th colspan="2">VEHICULO 2 PLACA XTW623</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>RESCATISTA 1</td>
                    </tr>
                    <tr>
                        <td>RESCATISTA 2</td>
                    </tr>
                    <tr>
                        <td>RESCATISTA 3</td>
                    </tr>
                    <tr>
                        <td>RESCATISTA 4</td>
                    </tr>
                    <tr>
                        <td>CHOFER</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="{%static 'script.js'%}"></script>
</body>

</html>